.main-button{
    display: grid;
    place-items: center;
}
#toggle{
    display: none;

}
.button-checked{
    display: inline-block;
    width: 60px;
    height: 25px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    top: 8px;
}
.modo-noturno {
    background-color: #141824;
    color: #f7f4f4!important;
}
.modo-noturno-a {
    color: #f7f4f4!important;
}
.modo-diurno{
    background-color:#e7e7ec;
    color:rgb(97, 92, 92)!important;
}
.modo-noturno-body{
    background-color: #0f111a;
    color: #bbb8b8!important;
}
.modo-diurno-body{
background-color: #eaecf475;
color:rgb(97, 92, 92)!important;
}

.button-checked::after{
    content: url('http://127.0.0.1:8000/img/sol.png');
    width: 32px;
    height: 32px;
    background-image: linear-gradient(to right, #0171fb, #6806fba6);
    border: 2px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0,.25);
    position: absolute;
    top: -4px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s, transform 0.3s ease-in;
}
#toggle:checked + .button-checked::after {
    content:url('http://127.0.0.1:8000/img/lua.png');
    background-color: #2b007a;
    transform: translateX(40px) rotate(360deg);
}
.btn-cadastrar-usuario{
    background-image: linear-gradient(to right, #002c62, #4300a8a6);
   
}
.input-pdv{
    height: 30px;
}


.form-control {
    color: #700000;
}
.navbar-height{
height: 7% !important;
}
.topbar-left-icon-user{
    margin-left: 10px !important;
}
.grafic-ico i{
    padding-bottom: -1px!important;
}

.efeito {
    transition: all .15s ease-in-out!important;
}
.efeito:hover {
    transform: scale(1.1)!important;
}
.card-1{
   margin-top: 8%;
}
.card-inventario{
    border-radius: 8px;
    padding: 10px 10px;
    background: #f4f4f4;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-function{
  padding: 10px 50px!important;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
   
}
.avatar01::after {
    opacity: 0;
    font-family: FontAwesome;
    content: "\f040";
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 350ms ease-in-out;
}
.avatar:hover::after {
    opacity: 1;
}

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 4px none silver;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.menu {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
    top: 60%;
    left: 60%;
    z-index: -1;
    transition: 350ms ease-in-out;
}
.box input {
    display: none;
}
.box input:checked + div.menu {
    opacity: 1;
    z-index: 999;
}